---
import Banner from '../components/Banner.astro';
import SearchHead from '../components/SearchHead.astro';
import LatestPosts from '../components/LatestPosts.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');


---

<Layout>


  <div class="relative">
    <!-- Background Image Layer -->
    <div class="absolute inset-0 bg-[url('../assets/murphy.png')] bg-cover bg-center bg-no-repeat z-0"></div>

    <!-- Overlay Layer -->
    <div class="absolute inset-0 bg-black/50 z-10"></div>

    <!-- Content Layer -->
    <div class="relative z-20">
      <Banner />
      <SearchHead />
    </div>
  </div>




</Layout>
